# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Build artifacts from hddsuperclone
hddsupertool
hddsupertool_help.h
hddsupertool.1
hddsupertool.info
hddsupertool.html
hddsupertool.txt
hddsupertool.markdown
hddsuperclone
hddsuperclone_help.h
hddsuperclone_glade.h
hddsuperclone2_glade.h
hddsuperclone3_glade.h
hddsuperclone_EULA.h
hddsuperclone_EULA.txt
hddsuperclone_driver.h
hddsuperclone.1
hddsuperclone.info
hddsuperclone.html
hddsuperclone.htm
hddsuperclone.pdf
hddsuperclone.txt
hddsuperclone.markdown
hddscviewer
hddscviewer_help.h
hddscviewer2_glade.h
hddscviewer3_glade.h
hddscviewer.1
hddscviewer.info
hddscviewer.html
hddscviewer.htm
hddscviewer.pdf
hddscviewer.txt
hddscviewer.markdown
create_script_help
